<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yeleman.snisrdcsms">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="DATABASE"
            android:value="pnlp.db" />
        <meta-data
            android:name="VERSION"
            android:value="4" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="false" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.yeleman" />

        <activity
            android:name=".HomeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReportActivity"
            android:configChanges="keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutActivity"
            android:configChanges="keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:configChanges="keyboardHidden"
            android:label="@string/settings_activity_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SectionActivity"
            android:configChanges="keyboardHidden"
            android:label="@string/title_activity_section"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PINCheckActivity"
            android:configChanges="keyboardHidden"
            android:label="@string/title_activity_pincheck"
            android:screenOrientation="portrait" />
        <activity
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:name=".DataViewerActivity"
            android:label="@string/title_activity_data_viewer" />
    </application>

</manifest>